@import "../common-color.scss";
.btn {
  height: 60px;
  width: 60px;
  background: #f0f0f3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: -8px -8px 30px #fff, 8px 8px 30px #aeaec040,
    inset -8px -8px 8px #aeaec025, inset 8px 8px 8px #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:active {
    box-shadow: inset -8px -8px 8px #ffffff70, inset 8px 8px 8px #aeaec020;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
