$color-primary-1: #d9b0bb;
$color-primary-2: #d996ae;
$color-primary-3: #7c87a6;
$color-primary-4: rgba(160, 190, 217, 0.4);
$color-primary-5: #f2bdbd;

$color-background-1: rgba(255, 255, 255, 0.3);
